@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Rammetto+One");

.App {
  align-items: space-around;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

#waiting-lobby-container {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#waiting-lobby-name {
  border: none;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 2px;
  outline: none;
  padding: 15px 0 15px 12px;
  text-shadow: 1.5px 1.5px 1.5px;
  width: 300px;
}
/* selects all divs within the id */
#waiting-lobby-name div {
  color: #556d75;
  font-family: "Rammetto One", cursive;
  text-shadow: 1.5px 1.5px 1.5px #333;
}

#waiting-lobby-players {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.waiting-lobby-player-name {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 4px;
  text-shadow: 1px 1px 1px #333;
}

#waiting-view-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.question-timer {
  font-family: "Rammetto One", cursive;
  color: #66aae7;
  text-shadow: 2px 2px 2px #333;
  font-size: 40px;
}

.question-host {
  color: #556d75;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-bottom: 4px;
  text-shadow: 1px 1px 1px #333;
}

.question-player {
  color: #556d75;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px 1px #333;
}

.answer-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.answer-choices {
  width: 32%;
  margin: 4%;
  background-color: #333;
  color: #eee;
  padding: 5%;
}
